/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav {
    background-color: #333;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }

  nav a:hover {
    background-color: #555;
  }

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

p {
  margin: 0 0 10px;
}

main {
  padding: 20px;
}

.project {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h2 {
  margin-top: 0;
  color: #333;
}

.translator-container {
    border: 2px solid #333;
    padding: 0 5px;
}

.list-container {
    border: 2px solid #333;
    padding: 0 5px;
}

.quote-container {
    border: 2px solid #333;
    padding: 0 5px;
    padding-bottom: 3px;
}

#introduction {
    text-align: center;
}

#contact {
    text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}